<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {});;
                }
            });
        }
    </script>



</head>

<body style="font-family:arial, sans-serif">
    <h1>深圳A股_日线可视化分析</h1>
<!--     <h2>输入播出节目状态如：回看、未开始和直播中</h2>
    
    <input type="text" id="fname" name="fname" onchange="cb(this.value)"> -->
    <h2>密度等值线图</h2>
    <div id="chart1" class="chart1"></div>
    <p>可以帮股友清楚的了解到每个时间段内均价的最高数值，明白均价所处的最高区间值，帮助买股和售股的人更加清晰的分析股票数据，以获取更高程度的收益。
     沿着某一特定的等值线，可以识别具有相同值的所有位置。通过查看相邻等值线的间距，可以大致了解值的分布层次</p>

    <h2>散点图</h2>
    <div id="chart2" class="chart2"></div>
     <p>可以帮股友清楚的了解到总市值和前收盘价随时间变化的关系，以及各个时间段的具体数值，和这些年的最高总市值，帮助买股和售股的人更加清晰的分析股票数据，以获取更高程度的收益。能直观表现出影响因素和预测对象之间的总体关系趋势。优点是能通过直观醒目的图形方式反映变量间关系的变化形态，以便决定用何种数学表达方式来模拟变量之间的关系。散点图不仅可传递变量间关系类型的信息，也能反映变量间关系的明确程度</p>

     <h2>并行类别图</h2>
     <div id="chart3" class="chart3"></div>
     <p>可以帮股友清楚的了解使用它们可视化数据集中多组类别之间的关系，帮助买股和售股的人更加清晰的分析股票数据，通过简历类别之间的关系，知道一个已知数据，从而推断出其他未知数据的增长趋势。</p>

    <h2>堆积区域图</h2>
    <div id="chart4" class="chart4"></div>
    <p> 堆积条形图就是条形图的一种，而堆积条形图显示单个项目与整体之间的关系。堆积条形图能够使人们一眼看出各个数据的大小，易于比较数据之间的差别。利用条状的长度，反映数据的差异，肉眼对长短差异很敏感，可以使得数据更加直观，而且堆积条形图不仅仅可以直观的看出每个系列的值，还能够反映出系列的总和，尤其是当需要看某一单位的综合以及各系列值的比重时，最适合使用堆积条形图。</p>


    <h2>条形图</h2>
    <div id="chart5" class="chart5"></div>
    <p> 非常直观的看出各个的数量，能明显看出谁高谁低。可以准确、快捷的看出统计项目的最高点和最低点；以及各个区间的分布情况条形统计图是用一个单位长度表示一定的数量，根据数量的多少画成长短不同的直条，然后把这些直条按一定的顺序排列起来的统计图。 从条形统计图中很容易看出各种数量的多少</p>

</body>

<script>
    d1 = {{ graphJSON1 | safe }};
    Plotly.newPlot('chart1', d1, {});
    d2 = {{ graphJSON2 | safe }};
    Plotly.newPlot('chart2', d2, {});
    d3 = {{ graphJSON3 | safe }};
    Plotly.newPlot('chart3', d3, {});
    d4 = {{ graphJSON4 | safe }};
    Plotly.newPlot('chart4', d4, {});
    d5 = {{ graphJSON5 | safe }};
    Plotly.newPlot('chart5', d5, {});

</script>

</html>
